.navcustom[b-zsw69lhtzm] {
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: blueviolet;
    color: antiquewhite;
}

.footcustom[b-zsw69lhtzm] {
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: whitesmoke;
    color: gray;
}