@page "/custompage"

@* Masukin template (layout) untuk page -> shared *@
@layout CustomLayout

<PageTitle>Custom Page Layout</PageTitle>

<div class="container">
    <h1>Welcome to Custom Page!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate animi maiores vel quis temporibus quam, modi quas deserunt culpa incidunt accusantium hic ad iure illum obcaecati laboriosam veritatis esse est praesentium corrupti aspernatur! Repellendus minima aspernatur alias quis neque laboriosam suscipit asperiores omnis laborum quasi iusto, necessitatibus, explicabo error quisquam!</p>
</div>