@page "/"

<PageTitle>Index</PageTitle>

<h1>Hai! Selamat Datang di Blazor App</h1>

Di sini adalah tempat <a href="https://github.com/faizbyp">saya</a> belajar Blazor UI Framework.

<SurveyPrompt Title="How is Blazor working for you?" />

This counter below will increment by 5
<Counter IncrementBy="5" />
