@page "/todo"

<PageTitle>Todo List</PageTitle>

<h1>Todo List</h1>

<input placeholder="Apa yang harus dikerjakan?" @bind="newTodo">
<button @onclick="AddTodo">Simpan</button>

<h6>Tugas Belum Selesai: (@todos.Count(todo => !todo.IsDone))</h6>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone">
            @todo.Title
        </li>
    }
</ul>

@code {
    private string? newTodo;
    private List<TodoItem> todos = new();

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}