@inherits LayoutComponentBase

<style>
    .navcustom {
        text-align: center;
        padding: 20px 0 20px 0;
        background-color: blueviolet;
        color: antiquewhite;
    }

    .footcustom {
        text-align: center;
        padding: 10px 0 10px 0;
        background-color: whitesmoke;
        color: gray;
    }
</style>

<header class="navcustom">
    <h3>Custom Layout</h3>
</header>

<article class="content px-4">
    @Body
</article>

<footer class="footcustom">
    <p>(C) Faiz Byputra</p>
</footer>